.m-0 {
  margin: 0;
}
.m-top-10 {
  margin-top: 10px;
}
.m-top-20 {
  margin-top: 20px;
}
.m-top-50 {
  margin-top: 50px;
}
.m-top-80 {
  margin-top: 80px;
}
.m-bottom-0 {
  margin-bottom: 0;
}
.m-bottom-50 {
  margin-bottom: 50px;
}
.m-bottom-80 {
  margin-bottom: 80px;
}
.m-bottom--20 {
  margin-bottom: -20px;
}
.m-right-50 {
  margin-right: 50px;
}
