@import url('https://fonts.googleapis.com/css?family=Quicksand');
* {
  font-family: "Quicksand";
  outline: none;
}
.general-views {
  @media (min-width: 768px) {
    position: relative;
    margin-left: 0;
    top: 0;
  }
  @media (min-width: 1000px) {
      position: absolute;
      margin-left: 130px;
      width: calc(100% - 130px);
      height: 100%;
      top:0;
      overflow: auto;
  }
}
