.menu-laptop--options {
  li {
    position: relative;
    width: 100%;
    span {
      font-weight: bold;
    }
    &:hover {
      i {
        color: $lime;
      }
      span {
        color: $white;
      }
    }
  }
}
.menu-laptop--options-active {
  i {
    color: $lime;
  }
  span {
    color: $white;
  }
}

.menu-mobile--logo {
  height: 65px;
}
