.carousel-item {
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}
.carousel .indicators {
  top: 0;
  .indicator-item {
    display: inline-block;
    position: relative;
    height: 5px;
    width: 31%;
    margin: 5px 4px;
    border-radius: 0;
    background-color: #cddc39;
    opacity: .5;
  }
  .active {
    background-color: #cddc39 !important;
    opacity: 1;
  }
}
