<div class="row grey lighten-4">
  <nav class="col s12 lime hide-on-large-only">
    <div class="nav-wrapper">
      <a class="white-text flex" ui-sref="app.products"><i class="material-icons small">keyboard_arrow_left</i>{{'BACK' | translate}}</a>
    </div>
  </nav>


  <div class="row col s12">
    <div class="col s12">
      <h2 class="cyan-text left">{{'SHOPPING_CART' | translate}}</h2>
      <p class="col s12 hide-on-med-and-down">{{'SHOPPING_CART_DESCRIPTION' | translate}}</p>
    </div>
    <button class="red white-text btn waves waves-effect right m-right-10" data-target="validation-rm" type="button" name="button">{{'EMPTY_CART' | translate}}</button>
    <div class="row col s12">
      <div class="card horizontal col s12 l6 hoverable" ng-repeat="product in products">
        <img src="{{product.img}}" class="col s3 resposice-img">
        <div class="card-stacked">
          <div class="card-content">
            <h5 class="grey-text text-darken-3"><span class="left">{{product.name}}</span><span class="right">{{product.price | currency:"$":0}}</span></h5>
          </div>
          <div class="card-action">
            <a ng-click="removeCart($index)" onclick="Materialize.toast('Eliminado del carrito', 2000)" class="red-text right">{{'REMOVE_FROM_CART' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row col s12 offset-l7 l5">
    <div class="col s11 l10 offset-l1">




      <h4>{{'BILL' | translate}}</h4>
      <ul class="collection with-header">
        <li class="collection-item" ng-repeat="product in products"><div>{{product.name}}<span class="secondary-content">{{product.price | currency:"$":0}}</span></div></li>
        <li class="collection-item"><div>{{'TOTAL' | translate}}<span class="secondary-content">{{total | currency:"$":0}}</span></div></li>
      </ul>







      <button class="btn cyan waves waves-effect right" type="button" ng-click="clearAll()" data-target="pay" ui-sref="app.home">{{'PAY' | translate}}</button>
    </div>
  </div>
</div>


<div id="validation-rm" class="modal">
  <div class="modal-content cyan white-text">
    <h4>{{'EMPTY_CART' | translate}}?</h4>
  </div>
  <div class="card horizontal m-0">
  </div>
  <div class="modal-footer">
    <a href="#!/cart" class=" modal-action modal-close waves-effect waves-red red lighten-3 btn-flat">{{'NO' | translate}}</a>
    <a  onclick="Materialize.toast('Carrito vacio', 2000)" class=" modal-action modal-close waves-effect waves-lime btn-flat" ng-click="clearAll()">{{'YES' | translate}}</a>
  </div>
</div>

<div id="pay" class="modal lime">
  <div class="modal-content white-text center">
    <h4>{{'MESSAGE_PURCHASE' | translate}}</h4>
  </div>
</div>
